.button_class {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 0.2em 2em;
    border: none;
    border-radius: .2rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    font-size: 20px;
    user-select: none;
  }

  .button_class:active {
    filter: brightness(1.2);
  }

  .button_class:hover {
    background-color: gray;
    box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
  }

  .login-container{
    display: flex
  }

  .login-google-icon{
    cursor: pointer;
  }
    