.card {
    width: 100%;
    height: 100%;
    background: #FFF;
    margin: auto;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    justify-content: center;
    align-items: center;
  }

  .card div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
    font-size: 20px;
    margin: 10px;
  }

.text-field{
    width: 90%;
    height: 80%;
}

.button-opts {
    background-color: black !important;
}

.center-button {

    display: flex;
    justify-content: center;
    align-items: center;
}
  